html {
  background: url(https://i.pinimg.com/originals/a3/4c/0f/a34c0f3e27905c99b1ea5278c5698c55.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bank-card {
  margin: auto;
  width: 60%;
  border: 5px solid #329432;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.balance {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
}

.header {
  padding: 0px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: black;
  font-size: 60px;
}

.button1 {
  background-color: white;
  color: #333;
  padding: 6px 15px;
  border-radius: 20%;
}

input {
  font-size: 1rem;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
  margin: 0.3125rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #333;
  width: 60%;
  margin: auto;
  border-radius: 10%;
  margin-top: 10%;
}

.styled-table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 60%;
  border-radius: 10%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #333;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #333;
}

.not-found {
  font-family: "Courier New", monospace;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
